#!/usr/bin/env python3
import keyring # for safer password storage
from datetime import datetime, timedelta # for date constraining messages to be moved
from mailaccount import MailAccount # configuration account class

today = datetime.now()
monthAgo = today - timedelta(days=30)
formattedMonthAgo = monthAgo.strftime('%d-%b-%Y')

ru_account = MailAccount(
        name = 'mail.ru example account',
        server= 'imap.mail.ru',
        login= 'account@mail.ru',
        password= keyring.get_password('priv','ru_account'),
        ssl= 'tls1',
        redirections= {
            "Спам": [
                '(FROM spammer@spambase.com SINCE %s)' % formattedMonthAgo, # same spammers here
                '(FROM spammer@spamcity.com)' # no comment for that
                ]
            }
        )

gmail_account = MailAccount(
        name= 'gmail example account',
        server= 'imap.gmail.com',
        login= 'account@gmail.com',
        password= 'my real life password', # that's obviously not recommended
        ssl= 'tls1',
        redirections= {
            "[Gmail]/Spam": [
                '(FROM spammer@spambase.com SINCE %s)' % formattedMonthAgo, # only recent spam removal
                '(FROM spammer@spamcity.com)' # another spam source
                ]
            }
        )

accounts = [
        gmail_account,
        ru_account
        ]
